<div class="row justify-content-center">
	<div class="col-sm-11 col-md-8">
		<h4>Admin</h4>

		<%= link_to "Manage Users", admin_users_path %><br>
		<%= link_to "Manage Queries", admin_queries_path %><br>
	</div>
</div>