<div class="row">
	<div class="medium-8 small-11 small-centered columns">
		<h2>Admin Panel</h2>

		<%= link_to "Manage Users", admin_users_path %><br>
		<%= link_to "Manage Queries", admin_queries_path %><br>
	</div>
</div>