<div class="row justify-content-center">
	<div class="col-sm-11 col-md-8">
		<h3>Educator Panel</h3>

		<strong>Metrics by</strong>

		<ul>
			<li><%= link_to "Lesson", educator_lessons_path %></li>
			<li><%= link_to "Exercise", educator_exercises_path %></li>
			<li>Learner</li>
		</ul>

	</div>
</div>