<div class="row">
	<div class="medium-8 small-11 small-centered columns">
		<h3>Educator Panel</h3>

		<strong>Metrics by</strong>

		<ul>
			<li><%= link_to "Lesson", educator_lessons_path %></li>
			<li><%= link_to "Exercise", educator_exercises_path %></li>
			<li>Learner</li>
		</ul>

	</div>
</div>