<div class="row">
	<div class="small-12 columns">
		<h1>Locales</h1>

		<table class="responsive">
		  <thead>
		    <tr>
				<th>id</th>
				<th>name</th>
				<th>description</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @locales.each do |locale| %>
		      <tr>
				<td><%= locale.id %></td>
		        <td><%= locale.name %></td>
		        <td><%= locale.description %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>