<div class="row">
	<div class="medium-offset-2 medium-8 small-12 columns">

		<h2>Welcome to Script Kitty!</h2>
	</div>
<div>


<div class="row">
	<div class="medium-offset-2 medium-5 small-offset-1 small-7 columns">
		<p>
			Script Kitty is trying to gather information about universities she might attend.
			One way to complete this task might be to go to a library, check out books on schools,
			and start reading.  This would take a while and would be inconvenient!
		</p>

		<p>
			We do have information on each school, such as its <em>name</em>, <em>city</em> and <em>state</em>
			in a list. This list has information on thousands of schools, so you can imagine finding one
			in particular would take time!
		</p>
	</div>

	<div class="medium-offset-1 medium-4 small-4 columns">
		<%= image_tag "kitty-grad.png" %>
	</div>

</div>

<div class="row">
	<div class="medium-offset-2 medium-8 small-offset-1 small-10 columns">

		<p>
			What if we could narrow down the list to just the information we are looking for?
		</p>

		<p>
			We can do this!  We can ask the computer: "Of all the schools in the list, can you show me
			only those from Pennsylvania?"
		</p>

		<p>
			To the computer, the list is a <strong>table</strong> and the question we asked it
			is a <strong>query</strong>. A collection of  tables is called a <strong>database</strong>.
		</p>

		<p>
			In the following exercises, you'll learn how to use SQL (<strong>S</strong>tructured
			<strong>Q</strong>uery <strong>L</strong>anguage) to get specific information out of a database
			about universities.   There are various concepts to learn along the way, so let's jump in!
		</p>

		<hr>

		<p>
		<% if user_signed_in? %>
			<h4><%= link_to "Begin Lesson 1", lesson_path(1) %></h4>
		<% else %>
			<%= link_to('Login', new_user_session_path)  %> | <%= link_to 'Create A New Account', new_user_registration_path %>
		<% end %>
		</p>

	</div>
</div>