<div class="row">
	<%= render 'messages' %>
</div>

<div class="row">
	<div class="medium-offset-2 medium-8 small-offset-1 small-10 columns">
		<p>
			Welcome to Script Kitty, a free online tutorial about SQL queries.  Whether you're a
			complete novice or someone looking to sharpen an existing skillset, there will be something
			here for you.
		</p>

		<p>
			Take a moment to explore the black menubar at the top of the page.  There are two dropdown menus
			and two direct links:
		</p>

		<ul>
			<li>The <strong>Tables</strong> dropdown contains links to the three tables of data we'll be using throughout this tutorial.  You should take a moment to click on <em>Schools</em>, <em>Locales</em>, and <em>Websites</em> and briefly explore each one.</li>
			<li>The <strong>Lessons</strong> dropdown contains links to the eight lessons and each lesson's related exercises.</li>
			<li>The <strong>My Progress</strong> link will take you to a page where you can review your overall progress.</li>
			<li>Finally, the <strong>Logout</strong> link to the far right will log you out.</li>
		</ul>

		<hr>

		<h3><%= link_to "Start Lesson 1", lesson_path(1) %><h3>
		<p>
			Alternatively, you can click on <em>Lesson 1</em> under Lessons.
		</p>

	</div>
</div>