<% if not flash.empty? %>

	<% flash.each do |name, msg| %>

		<% if msg.is_a?(String) %>
			<div class="col-sm-12 col-md-8">
	    		<div class="col-sm-8 col-md-10 columns kitty-bubble bubbletype-success">
					<div class="message">
						<%=  msg %>

						<% if not current_user.admin and @next_lesson_to_try and @next_lesson_to_try < @lessons.size %>
							<br>
							You should continue with
							<%=link_to "Lesson " + @next_lesson_to_try.to_s, lesson_path( Lesson.find(@next_lesson_to_try) ), :class => "message-anchor" %>
							.
						<% end %>
					</div>
				</div>

				<div class="col-sm-4 col-md-2">
					<%= image_tag "kitty-success.png", :class => "kitty-image" %>
				</div>
			</div>
			<hr>
		<% end %>

	<% end %>
<% else %>
	<br><br>
<% end %>