<div class="row">
	<%= render 'messages' %>
</div>

<div class="row">
	<div class="medium-8 small-11 small-centered columns">
		<h2>Additional Educational Resources</h2>


		<h4><a href="http://www.w3schools.com/sql/">W3Schools SQL Reference</a></h4>
		<p>
			W3Schools offers many great tutorials and references on various web-technologies.
			Their SQL tutorial is written with novices in mind and thoroughly and covers every
			aspect of CRUD.  There is even an
			<a href="http://www.w3schools.com/sql/sql_quiz.asp">interactive SQL quiz</a>
			for those interested in evaluating their knowledge!
		</p>

		<h4><a href="http://sql.learncodethehardway.org/">Learn SQL The Hard Way</a></h4>
		<p>
			Though still "in beta," this tutorial covers many aspects of both the SQL language and
			database design.  It is written for individuals who know some basic programming but
			want to learn SQL.
		</p>

		<h4><a href="http://eup.ist.psu.edu/GirlsCreateIT/">GirlsCreateIT</a></h4>
		<p>
			GirlsCreateIT is similar to Script Kitty, but targeted at a younger, middle school audience.
		</p>

		<br><br>


		<h2>About Script Kitty</h2>
		<p>
			The lessons and exercises contained within Script Kitty use a public dataset provided by the National Center For
			Education Statistics.  It can be downloaded in Excel and CSV formats here:<br>
			<a href="http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=2011362">http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=2011362</a>
		</p>

		<p>
			The visual art of Script Kitty was graciously provided by <a href="http://unboundembrace.weebly.com/about-me.html">Ms. Caitlin Schaeppi</a>.
		</p>

		<br><br>

		<h2>About The Author</h2>
		<p>
			Script Kitty was created by <a href="http://personal.psu.edu/djg270/">Dan Guzek</a> as part of his Master's thesis through
			<a href="http://www.psu.edu/">Penn State</a> in the <a href="http://ist.psu.edu/graduate-students">College of Information
			Sciences &amp; Technology</a>.  Dan's research interests involve rethinking and redesigning the way Computer Science has
			traditionally been taught.
		</p>
		<p>
			Under the guidance of his advisor, <a href="http://mrosson.ist.psu.edu/">Dr. Mary Beth Rosson</a>, he has overseen many
			high school and grade school programming workshops, and produced at least <a href="http://eup.ist.psu.edu/GirlsCreateIT/">one
			other educational website</a> that is still online.  Script Kitty is the culmination of his efforts, influenced
			by both anecdotal evidence and a healthy dose of peer-reviewed literature.
		</p>
		<p>
			If you have any questions or comments regarding Script Kitty for Dan, he can be reached at: <br> djg270 [at] psu [dot] com
		</p>

	</div>
</div>