<div class="row">
	<div class="col-sm-11 col-md-8 mx-auto">
		<h2>Additional Educational Resources</h2>


		<h4><a href="http://www.w3schools.com/sql/">W3Schools SQL Reference</a></h4>
		<p>
			W3Schools offers many great tutorials and references on various web-technologies.
			Their SQL tutorial is written with novices in mind and thoroughly and covers every
			aspect of CRUD.  There is even an
			<a href="http://www.w3schools.com/sql/sql_quiz.asp">interactive SQL quiz</a>
			for those interested in evaluating their knowledge!
		</p>

		<h4><a href="https://www.tutorialspoint.com/sql/">TutorialsPoint SQL Tutorial</a></h4>
		<p>
			TutorialsPoint offers thorough tutorials with plentiful examples on many technologies
			and programming languages.  Their SQL Tutorial covers everything from querying to more advanced
			concepts like normalization and relational database design.  It is a great resource for those
			looking ton build on the query skills they learned through ScriptKitty.
		</p>



		<br><br>


		<h2>About Script Kitty</h2>
		<p>
			The lessons and exercises contained within Script Kitty use a public dataset provided by the National Center For
			Education Statistics.  It can be downloaded in Excel and CSV formats here:<br>
			<a href="http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=2011362">http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=2011362</a>
		</p>

		<p>
			The visual art of Script Kitty was graciously provided by <a href="http://unboundembrace.weebly.com/about-me.html">Ms. Caitlin Schaeppi</a>.
		</p>

		<br><br>

		<h2>About The Author</h2>
		<p>
			Script Kitty was created by <a href="http://personal.psu.edu/djg270/">Dan Guzek</a> as part of his Master's work through
			<a href="http://www.psu.edu/">Penn State</a> in the <a href="http://ist.psu.edu/graduate-students">College of Information
			Sciences &amp; Technology</a>.  Dan's research interests involve rethinking and redesigning the way Computer Programming has
			traditionally been taught.
		</p>
		<p>
			Under the guidance of his advisor, <a href="http://mrosson.ist.psu.edu/">Dr. Mary Beth Rosson</a>, he has overseen many
			high school and grade school programming workshops, and enjoys bringing technology to learners of all ages.  Script Kitty
			is the culmination of his efforts, influenced by both anecdotal evidence and a healthy dose of peer-reviewed literature.
		</p>
		<p>
			If you have any questions or comments regarding Script Kitty for Dan, he can be reached at: <br> djg270 [at] psu [dot] com
		</p>

	</div>
</div>