<h2>Welcome to GirlsCreateIT!</h2>

<p>It is important that visitors to our Animal Park have an opportunity to learn about the animals.  One way to complete this task might be to go to a library, check out books on animals, and start reading.  This would take a while and would be inconvenient for the visitors!</p>

<p>We do have information on each animal, such as <em>name</em>, <em>weight</em> and <em>habitat</em> in a list. Currently the list has information on over one hundred unique animals. So you can imagine finding one animal in this list will take some time!</p>

<p>What if could we narrow down the list to just the information we are looking for?</p>

<p>We can do this!  We can ask the computer: "of all the animals in the list, can you show me only nocturnal animals?"</p>

<p>To the computer, the list is a <strong>database</strong> and the question we asked it is a <strong>query</strong>.</p>

<p>Today we'll be writing queries to get specific information out of the Animal Database.  Once we have the information we are looking for, we can make create a webpage for our park visitors to view while they are visiting.</p>





<% if !user_signed_in? %>
	<hr>

	<p>
		<strong>Get started!</strong>
	</p>

	<p>
		<%= link_to('Login', new_user_session_path)  %> | <%= link_to 'Sign Up', new_user_registration_path %>
	</p>
<% end %>