<% flash.each do |name, msg| %>

	<% if msg.is_a?(String) %>
		<div class="col-sm-3"></div>

			<% if msg == "correct" %>

	    		<div class="col-sm-6 kitty-bubble bubbletype-success">
					<div class="message">
						<%= @query.exercise.response_correct.html_safe %>
					</div>
				</div>

				<div class="col-sm-3">
					<%= image_tag "kitty-success.png", :class => "kitty-image" %>
				</div>

			<% else %>

	    		<div class="col-sm-6 mx-auto kitty-bubble bubbletype-notice">
					<div class="message">
						Hmm.  The query you wrote ran successfully,
						but it didn't find the information I was looking for.
						 Would you like to
						 <%= link_to "try again", lesson_exercise_path(@exercise.lesson, @exercise, {:raw_sql => @query.raw_sql}), :class => "message-anchor"  %>?
					</div>
				</div>

				<div class="col-sm-3">
					<%= image_tag "kitty-question.png", :class => "kitty-image" %>
				</div>

			<% end %>

		<hr>
	<% end %>

<% end %>