<div class="row">
	<div class="col-md-6">

		<div class="field">

			<% if params[:raw_sql] %>
				<label for="query_raw_sql">Try again by entering your query here:</label>
			<% else %>
		    	<label for="query_raw_sql">Type your query here:</label>
			<% end %>

		    <%= form.text_area :raw_sql, :value => @raw_sql %>

			<% if @exercise %>
				<%= form.hidden_field :exercise_id, :value => @exercise.id %>
			<% end %>
		</div>

		<div class="actions">
		    <%= form.submit "Submit", :class => "btn btn-primary" %>
		</div>
	</div>

	<div id="simple-reference" class="col-md-6">
		<% if @exercise.lesson.id == 1 %>
			<p>
				<strong>Reference:</strong><br>
				Remember that there are three tables:
				<ul>
					<li>Schools</li>
					<li>Locales</li>
					<li>Websites</li>
				<ul>
			</p><br><br><br>

		<% else %>
			<p>
				<strong>Reference:</strong>
				Remember that there are three tables, each with its own columns.
			</p>

			<table width="100%">
				<caption>Schools</caption>
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>city</th>
						<th>state</th>
						<th>zip</th>
						<th>chief</th>
						<th>locale_id</th>
					</tr>
				</thead>
			</table>

			<table width="100%">
				<caption>Locales</caption>
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>description</th>
					</tr>
				</thead>
			</table>

			<table width="100%">
				<caption>Websites</caption>
				<thead>
					<tr>
						<th>id</th>
						<th>url</th>
						<th>classification</th>
						<th>school_id</th>
					</tr>
				</thead>
			</table>

		<% end %>
	<div>
</div>