<div id="buildYourQuery">
	
	<div id="poof" style="display:none"></div>
	
	<%= form.fields_for :conditions do |condition_form| %>
		<%= render :partial => 'queries/condition_fields', :locals => {:form => condition_form} %>
	<% end %>

</div> <!-- /buildYourQuery -->

<div class="actions">
    <%= form.submit "Submit", :class => "radius button small" %>
</div>