/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap";

@import "codemirror";
@import "codemirror/themes/lesser-dark";
@import "codemirror/themes/xq-light";

@import "jquery-ui/draggable";
@import "jquery-ui/resizable";

@import "*";
@import "**/*";

// require_self




/* --------------------------------------------- */

/* Element styling */

table {
    border-collapse: collapse;
}

table caption {
	caption-side: top;
	color: black;
	padding-bottom: 0rem;
	font-weight:bold;
	font-size: 1.25em;
}

table, th, td {
   border: 1px solid #777;
}

tbody td a {
	display:block;
	text-align:center;
}

td, td a {
/*	padding:4px; */
}

thead tr th {
	text-align:center;
}

aside {
	margin-left: 40px;
	padding-left: 25px;
	border-left: 3px dashed #444;
}

span.wrap-up-bullet{
  font-size:3em;
}

/* .actions is the generic class for Rails' form submit buttons */
.actions{
	margin-top: 10px;
}

.bigger{
	zoom: 125%;
}
.smaller{
	zoom: 75%;
}

/* --------------------------------------------- */
/* Styling for messages/alerts from Script Kitty */

.kitty-grad{
	max-height: 160px;
}

.kitty-image{
	position:relative;
	right:18px;
	max-width: none;
}

.kitty-bubble, #error_explanation{
	margin-top:50px;
	margin-bottom:20px;
	padding: 20px;
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-align:center;
	border-radius: 1em;
}

span.oops{
	font-size: 1.8em;
}

span.causing-the-error{
	font-family:courier;
}

a.message-anchor{
	color: #333;
	text-decoration:underline;
}

.bubbletype-alert, #error_explanation { background-color: #f1656a; }
.bubbletype-notice { background-color: #60a1f4; }
.bubbletype-success { background-color: #54be5e; }

#error_explanation h2{
	font-size: 1.15em;
	color: #fff;
}

#error_explanation ul{
	list-style-type: none;
	margin-left: 10%;
	text-align: left;
}

/* --------------------------------------------- */
/* Text styling for "My Progress" page */

.invalid{ color: #f1656a; font-weight:bold }
.valid{ color: #60a1f4; font-weight:bold }
.correct{ color: #54be5e; font-weight:bold}

/* Lesson subtitles used on "My Progress" page */
p.subtitle{
	margin:-10px 0px 8px 0px;
}

/* --------------------------------------------- */
/* What learners type into */

#new_query .field .CodeMirror {
	border-radius:0.6em;
	height: 210px;
}

/* --------------------------------------------- */
/* For demonstrating code */

.CodeMirror.cm-s-xq-light {
	font-size: 1.25em;
	border-radius:0em;
	border: 1px solid #999;
	background-color: #ffb;
	height: auto;
	margin-bottom: 12px;
}

.CodeMirror.cm-s-xq-light .CodeMirror-gutters {
	background-color: #222;
}

.CodeMirror.cm-s-xq-light .CodeMirror-linenumber{
	color: #ccc;
}

/* --------------------------------------------- */
/* Topbar styling */

/* script-kitty (home) link*/
//#topbar-script-kitty, #topbar-script-kitty a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-script-kitty:hover, #topbar-script-kitty a:hover{
//    background: #60a1f4;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}
//
///* tables dropdown */
//#topbar-tables, #topbar-tables a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-tables:hover, #topbar-tables a:hover{
//    background: #9881f5;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}
//
///* lessons dropdown */
//#topbar-lessons, #topbar-lessons a, #topbar-create-an-account, #topbar-create-an-account a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-lessons:hover, #topbar-lessons a:hover, #topbar-create-an-account:hover, #topbar-create-an-account a:hover{
//    background: #ec814d;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}
//
///* my-progress link, my-account link */
//#topbar-my-progress, #topbar-my-progress a, #topbar-my-account, #topbar-my-account a, #topbar-login, #topbar-login a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-my-progress:hover, #topbar-my-progress a:hover, #topbar-my-account:hover, #topbar-my-account a:hover, #topbar-login:hover, #topbar-login a:hover{
//    background: #54be5e;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}
//
///* about link */
//#topbar-about, #topbar-about a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-about:hover, #topbar-about a:hover{
//    background: #f9cb7f;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}
//
///* logout link */
//#topbar-about, #topbar-about a{
//    background: #333;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #fff;
//    -webkit-transition: color 0.133s ease-in; /*safari and chrome */
//    -moz-transition: color 0.133s ease-in; /* firefox */
//    -o-transition: color 0.133s ease-in; /* opera */
//}
//
//#topbar-logout:hover, #topbar-logout a:hover{
//    background: #f1656a;
//    -webkit-transition: background 0.133s ease-in; /*safari and chrome */
//    -moz-transition: background 0.133s ease-in; /* firefox */
//    -o-transition: background 0.133s ease-in; /* opera */
//
//    color: #333;
//    -webkit-transition: color 0.05s ease-in; /*safari and chrome */
//    -moz-transition: color 0.05s ease-in; /* firefox */
//    -o-transition: color 0.05s ease-in; /* opera */
//}