/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap";

@import "codemirror";
@import "codemirror/themes/lesser-dark";
@import "codemirror/themes/xq-light";

@import "jquery-ui/draggable";
@import "jquery-ui/resizable";

@import "*";
@import "**/*";

/* --------------------------------------------- */

.navbar{
	margin-bottom: 15px;
}

/* Element styling */

table {
    border-collapse: collapse;
}

table caption {
//	caption-side: top;
//	color: black;
//	padding-bottom: 0rem;
//	font-weight:bold;
//	font-size: 1.25em;
	display:none;
}

table, th, td {
   border: 1px solid #777;
}

tbody td a {
	display:block;
	text-align:center;
}

td, td a {
/*	padding:4px; */
}

thead tr th {
	text-align:center;
}

aside {
	margin-left: 40px;
	padding-left: 25px;
	border-left: 3px dashed #444;
}

span.wrap-up-bullet{
  font-size:3em;
}

/* .actions is the generic class for Rails' form submit buttons */
.actions{
	margin-top: 10px;
}

.bigger{
	zoom: 125%;
}
.smaller{
	zoom: 75%;
}

/* --------------------------------------------- */
/* Styling for messages/alerts from Script Kitty */

.kitty-grad{
	max-height: 160px;
}

.kitty-image{
	position:relative;
	right:18px;
	max-width: none;
}

.kitty-bubble, #error_explanation{
	margin-top:50px;
	margin-bottom:20px;
	padding: 20px;
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-align:center;
	border-radius: 1em;
}

span.oops{
	font-size: 1.8em;
}

span.causing-the-error{
	font-family:courier;
}

a.message-anchor{
	color: #333;
	text-decoration:underline;
}

.bubbletype-alert, #error_explanation { background-color: #f1656a; }
.bubbletype-notice { background-color: #60a1f4; }
.bubbletype-success { background-color: #54be5e; }

#error_explanation h2{
	font-size: 1.15em;
	color: #fff;
}

#error_explanation ul{
	list-style-type: none;
	margin-left: 10%;
	text-align: left;
}

/* --------------------------------------------- */
/* Text styling for "My Progress" page */

.invalid{ color: #f1656a; font-weight:bold }
.valid{ color: #60a1f4; font-weight:bold }
.correct{ color: #54be5e; font-weight:bold}

/* Lesson subtitles used on "My Progress" page */
p.subtitle{
	margin:-10px 0px 8px 0px;
}

/* --------------------------------------------- */
/* What learners type into */

#new_query .field .CodeMirror {
	border-radius:0.6em;
	height: 210px;
}

/* --------------------------------------------- */
/* For demonstrating code */

.CodeMirror.cm-s-xq-light {
	font-size: 1.25em;
	border-radius:0em;
	border: 1px solid #999;
	background-color: #ffb;
	height: auto;
	margin-bottom: 12px;
}

.CodeMirror.cm-s-xq-light .CodeMirror-gutters {
	background-color: #222;
}

.CodeMirror.cm-s-xq-light .CodeMirror-linenumber{
	color: #ccc;
}