/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *
 *= require codemirror
 *= require codemirror/themes/lesser-dark
 *= require codemirror/themes/xq-light
 *
 *= require jquery-ui/draggable
 *= require jquery-ui/resizable
 *
 *= require_self
 *
 */

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

td {
	padding:4px;
}

thead tr th {
	text-align:center;
}

aside {
	margin-left: 40px;
	padding-left: 25px;
	border-left: 3px dashed #444;
}

.actions{
	margin-top: 10px;
}


.kitty-image{
	position:relative;
	right:18px;
	max-width: none;
}

.kitty-bubble{
	margin-top:50px;
	margin-bottom:20px;
	padding: 20px;
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-align:center;
	border-radius: 1em;
}

.bubbletype-alert{
	background-color: #b5403c;
}

.bubbletype-success {
	background-color: #3ea237;
}

.bubbletype-notice {
	background-color: #3197ee;
}



.invalid{ color: #b5403c; font-weight:bold }
.valid{ color: #3197ee; font-weight:bold }
.correct{ color: #3ea237; font-weight:bold}






a.message-anchor{
	color: #333;
}

a.message-anchor:hover{
	text-decoration:underline;
}

span.oops{
	font-size: 1.8em;
}

pre{
	font-family: courier;
}

span.causing-the-error{
	font-family:courier;
}

#new_query .field .CodeMirror {
	border-radius:0.6em;
	height: 210px;
}


.CodeMirror.cm-s-xq-light {
	font-size: 1.25em;
	border-radius:0em;
	border: 1px solid #999;
	background-color: #FFFFBB;
	height: auto;
	margin-bottom: 12px;
}

.CodeMirror.cm-s-xq-light .CodeMirror-gutters {
	background-color: #222;
}

.CodeMirror.cm-s-xq-light .CodeMirror-linenumber{
	color: #ccc;
}

span.correct {
	color:#3ea237;
}
span.invalid {
	color:#b5403c;
}

span.valid {
	color:#3197ee;
}