// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-header{
	background-color: #dfdfdf;
}

.kitty-image{
	margin-top:10px;
	margin-right:70px;
}

.kitty-alert{
	margin-left: 60px;
	margin-top: 40px;
	background-image: image-url("bubble-alert.png");
	background-repeat: no-repeat;
	height: 77px;
	width:575px;
	padding: 10px 64px 20px 20px;
	color: #FFF;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.15em;
}

span.oops{
	font-size: 1.6em;
}