// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-header{
	background-color: #dfdfdf;
}

ol li, ul li{
	font-size:1.15em;
	line-height: 2.5em;
}

ul li{
	list-style:none;
}

ul li.right-align{
	text-align: right;
}

.gray-border{
	color: #fff;
	background-color:#333;
}