// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-header{
	background-color: #dfdfdf;
}

.kitty-image{
	position:relative;
	right:18px;
	margin-top:10px;
	max-width: none;
}

.kitty-bubble{
	margin-top:60px;
	margin-bottom:20px;
	width:575px;
	padding: 20px;
	background-color: #b5403c;
	color: #FFF;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-align:center;
	border-radius: 1em;
}

span.oops{
	font-size: 1.8em;
}