// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#query_raw_sql {
	display:none;
}

.CodeMirror {
	border-radius:0.6em;
	height: 20em;
}

/* --------------------------------------------------------- */
/* ---------- QUERY BUILDER PAGE LAYOUT ---------------------*/
/* --------------------------------------------------------- */


#poof{
    background: transparent url(poof.png) no-repeat 0 0; 
    height: 128px; 
    position: fixed; 
    width: 128px; 
}

.actions{
	clear: both;
}

.select, .from{
	text-align:center;
	font-size: 1.3em;
	min-height: 137px;
	border-right: 4px solid #dfdfdf;
}

.where{
	text-align:center;
	font-size: 1.3em;
}

.where span{
	position:relative;
	right: 50px;
}


/* --------------------------------------------------------- */
/* ---------- QUERY BUILDER ELEMENTS LAYOUT -----------------*/
/* --------------------------------------------------------- */

.condition {
	background :url('visual-interface/whereConditionBox-alt.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:103px;
}

.condition .toprow{
//	height:66px;
}

.columnAcceptor {
	height: 52px;
}

.operatorAcceptor {
	padding:4px 0px 0px 14px;
	height: 52px;
}


.andAcceptor{
	height:52px;
	width: 56px;
	padding-left:12px;
}

.orAcceptor{
	height:40px;
	margin:0px;
	padding-left: 7px;
	padding-top: 8px;
}

// the dropHere class is applied to all acceptors
.dropHere {
	text-align:center;
//	border: 1px solid red;
}

div.parameterInput{
	padding-top:14px;
}

div.parameterInput input{
	font-size:0.8em;
	height:36px;
	width:140px;
	
//	this is crucial
//	foundation auto-adds margins to inputs but we do NOT want them here
	margin:0px;
}


.draggable{
	text-align:center;
}



.column-block {
	font-size:18px;
	padding:10px;
	width: 160px;
	background-color: #fff;
	color: #000000;
	border: 3px solid #f8941d;
	background-color: #fff8dc;
	border-radius:8px;
}


.operator-block {
	width: 68px;
	height:60px;
}

.operator-block p {
	position:relative;
	bottom: 60px;
}


.and-block {
	width: 53px;
	height:80px;
}

.or-block {
	width: 80px;
	height:44px;
}

p.equals, p.doesnotequal, p.greaterthan, p.lessthan {
	font-size:1.3em;
}

p.like{
	font-size:1em;
}

.and-block p{
	padding: 10px 0px 0px 8px;
	font-size: 1em;
	position:relative;
	bottom: 70px;
}

.or-block p{
	padding: 18px 0px 0px 0px;
	font-size:1em;
	position:relative;
	bottom: 48px;
}




fieldset legend{
	font-weight:normal;
	background:transparent;
	color: #FFF;
}

#corrals {
	float:left;
	width:90%;
	margin-top:50px;
}

.corral{
	border:0px;
}

#columnCorral{
	margin-right:20px;
	width:190px;
	height:100%;
	float:left;
}

#operatorCorral{
	width:170px;
	float:left;
}

#complexOperatorCorral{
	float:right;;
	width: 100px;
}







/* --------------------------------------------------------- */
/* ---------- FORMATTED QUERY STRINGS -----------------------*/
/* --------------------------------------------------------- */

/* the query string is the entire white "plaintext" box 	*/
/* the conditionString the user-written part				*/
/* and a conditionString is comprised of andGroupings		*/

.queryString{
	background-color: #ffffff;
	margin-bottom:10px;
	padding:8px;
	width:96%;
	border: 1px solid #888;
	font-family:courier;
	float:left;
}

.selectStatement{
	margin-bottom:20px;
}

.conditionString{
	padding-top:8px;
	margin-left:25px;
}

.orString{
	width:100%;
	padding-left:25px;
	font-weight:bold;
	color:green;
}

.andGrouping{
	float:left;
	margin-right: 15px;
	padding:5px 10px 5px 0px;
	border: 1px solid #ccc;
}

.formattedQuery{
	display:none;
}

.tab{
	float:left;
	padding:4px;
	margin-right:5px;
	background-color: #dcdcdc;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;

}

.activeTab{
	background-color:#fff;
	border-color: #888;
	position:relative;
	top:1px;
}

