// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#query_raw_sql {
	display:none;
}

.CodeMirror {
	border-radius:0.6em;
	height: 20em;
}