// Place all the styles related to the queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#query_raw_sql {
	display:none;
}

.CodeMirror {
	border-radius:0.6em;
	height: 20em;
}





/* --------------------------------------------------------- */
/* ---------- QUERY BUILDER PAGE LAYOUT ---------------------*/
/* --------------------------------------------------------- */


.grayScale{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Chrome 18+  */
}


.darkerGrayScale{
    filter: url(filters.svg#darkergrayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Chrome 18+  */
}

#poof{
    background: transparent url(poof.png) no-repeat 0 0; 
    height: 128px; 
    position: fixed; 
    width: 128px; 
}

#buildYourQuery {
	float:left;
	width: 900px;
}

div.condition input{
	font-size:1.2em;
	height:30px;
	width:250px;
	margin-top:10px;
	margin-left:10px;
}
#query_name{
	font-size:15px;
	height:16px;
}

.actions{
	clear:left;
}


/* --------------------------------------------------------- */
/* ---------- FORMATTED QUERY STRINGS -----------------------*/
/* --------------------------------------------------------- */

/* the query string is the entire white "plaintext" box 	*/
/* the conditionString the user-written part				*/
/* and a conditionString is comprised of andGroupings		*/

.queryString{
	background-color: #ffffff;
	margin-bottom:10px;
	padding:8px;
	width:96%;
	border: 1px solid #888;
	font-family:courier;
	float:left;
}

.selectStatement{
	margin-bottom:20px;
}

.conditionString{
	padding-top:8px;
	margin-left:25px;
}

.orString{
	width:100%;
	padding-left:25px;
	font-weight:bold;
	color:green;
}

.andGrouping{
	float:left;
	margin-right: 15px;
	padding:5px 10px 5px 0px;
	border: 1px solid #ccc;
}

.formattedQuery{
	display:none;
}

.tab{
	float:left;
	padding:4px;
	margin-right:5px;
	background-color: #dcdcdc;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;

}

.activeTab{
	background-color:#fff;
	border-color: #888;
	position:relative;
	top:1px;
}

/* --------------------------------------------------------- */
/* ---------- QUERY BUILDER ELEMENTS LAYOUT -----------------*/
/* --------------------------------------------------------- */



.condition {
	float:left;
	height:107px;
	width:800px;
}

legend{
	font-weight:bold;
}




.draggable:hover{
	cursor:pointer;
}

.condition-right-border{
	float:left;
}





fieldset.buildYourQuery{
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
	padding:14px 60px 0px 16px;
	margin-right:0px;
	background :url('visual-interface/whereConditionBox-alt.png');
	background-size: contain;
	background-repeat:no-repeat;
//	border-bottom-left-radius:14px;
//	border-top-left-radius: 14px;
	width:880px;
	height:137px;
	float:left;
	margin-top:-10px;
}

fieldset.buildYourQuery legend{
	margin-left: 6px;
	margin-top: 6px;
	color:green;
}



fieldset.completedCondition{
	background-color: #b8d699;
}




fieldset.buildYourQuery div{
	float:left;
}


fieldset.extendYourQuery{
	float:left;
	margin-left:-34px;
	margin-top:-4px;
	width:80px;
	border:0px;
	height:80px;
}


/* what is this? */
#tableName{
	font-size:1.3em;
	margin-top:20px;
}










.columnBlock {
	font-size:18px;
	padding:10px;
	margin: 10px;
	width: 160px;
	background-color: #fff;
	text-align:center;
	color: #000000;
	border: 3px solid #f8941d;
	background-color: #fff8dc;
	border-radius:8px;
	float:left;
}

.operatorBlock {
	font-size:16px;
	padding:10px;
	margin: 10px;
	width: 30px;
	height:30px;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
	color: #000000;
	text-align:center;
	border:3px solid #f03e36;
	background-color:#fab66f;
	float:left;

}

.complexOperatorBlock {
	font-size:1em;

	text-align:center;
	float:left;
	background-repeat:no-repeat;
	background-size: contain;
}


.and {
	width: 69px;
	height:107px;
	background-image:url('visual-interface/and.png');
}

.or {
	width: 99px;
	height:54px;
	background-image:url('visual-interface/or.png');
}

.dropped{
	float:left;
	font-weight:normal;
}

p.equals, p.doesnotequal, p.greaterthan, p.lessthan {
	font-weight:normal;
	font-size:16px;
	position:relative;
	top:5px;
}

p.like{
	font-weight:normal;
	font-size:16px;
	position:relative;
	top:0px;
}

.operatorBlock p{
	margin-top:0px;
}


.dropHere {
	position:static;
	margin:10px;
	text-align:center;
	font-size:1.1em;
}

.columnAcceptor {
	height:42px;
	width:180px;
	border-radius: 4px;
	border: 3px dashed #f8941d;
	color:#f8941d;
	font-weight:bold;
}

.columnAcceptor p{
	position:relative;
	bottom:8px;
}

.operatorAcceptor {
	width: 50px;
	height:50px;
	margin:6px 20px 0px 20px;
	border: 3px dashed #f03e36;
	color: #f03e36;
	font-weight:bold;
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
}

.operatorAcceptor p{
	position:relative;
	bottom:5px;
}




.complexOperatorAcceptor{
	float:left;
	width: 113px;
	height:120px;
	margin-top:6px;
	margin-left:0px;
}


.complexOperatorAcceptor legend{
	position:relative;
	color: #7eb843;
	top:30px;
	left:24px;
	width:70px;
}











#corrals {
	float:left;
	width:90%;
	margin-top:50px;
	border-top: 2px dashed gray;
	padding-top:30px;
}

.corral{
	border:0px;
}

#columnCorral{
	margin-right:20px;
	width:190px;
	height:100%;
	float:left;
}

#operatorCorral legend{
	color: #f03e36;
}

#operatorCorral{
	width:170px;
	float:left;
}

#columnCorral legend{
	color:#f8941d;
}


#complexOperatorCorral{
	margin-right:40px;
	float:right;;
	width: 100px;
}

#complexOperatorCorral legend{
	color:green;
}

