<div class="exercise-header">
	<div class="row">
		<div class="medium-offset-1 medium-11 small-12 columns">
			<h1>Learning Objectives</h1>
		</div>
	</div>
</div>


<div class="row">
	<div class="medium-offset-1 medium-11	 small-12 columns">	
		<ul>
		<% @exercises.each do |exercise| %>
			<li> <%= link_to "Exercise #{exercise.id}", exercise_path(exercise) %> - <%= raw exercise.description %></li>
		<% end %>
		</ul>
	</div>
</div>