<% flash.each do |name, msg| %>

	<% if msg.is_a?(String) %>
    	<div class="large-12 large-centered columns">
			<div class="small-2 columns">&nbsp;</div>
			
    		<div class="small-7 columns kitty-bubble">
				<div class="message"><%= raw msg %></div>
			</div>
			
			<div class="small-3 columns">
				<%= image_tag "kitty-#{name.to_s == 'notice' ? 'success' : 'alert'}.png", :class => "kitty-image" %>
			</div>
    	</div>

		<hr>
	<% end %>
	
<% end %>