<% flash.each do |name, msg| %>

	<% if msg.is_a?(String) and not msg.blank? %>
		<div class="small-offset-2 small-8 columns">
    		<div class="small-10 columns kitty-bubble bubbletype-<%= name.to_s == 'notice' ? 'success' : 'alert' %>">
				<div class="message"><%= msg.html_safe %></div>
			</div>
			
			<div class="small-2 columns">
				<%= image_tag "kitty-#{name.to_s == 'notice' ? 'success' : 'alert'}.png", :class => "kitty-image" %>
			</div>
		</div>
		<hr>
	<% end %>
	
<% end %>